@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
/*----------------------------------------------------------------
	Branding Colour
----------------------------------------------------------------*/
h1, h3, p, ul, ol, ul li, ol li, ul a, ol a, ul a:hover, ol a:hover, ul a:focus, ol a:focus, .formbuilder-form input#submit-form {
	color: #333;
    font-family: 'Raleway', sans-serif;
}
#contact p, .contact_detail, .contact_detail a, .contact_detail a:hover, .contact_detail a:focus {
color: #fff;
}
h1, h2,h4, .formbuilder-form input#submit-form , p .formbuilder-form label {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}   
h3, #content h3 a, #header2, #header span, #header2a, #header2a p, #header2b a, #header2a a, .btn, .btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn, .formbuilder-form input#submit-form,.formbuilder-form input#submit-form:hover, .formbuilder-form input#submit-form:focus, .formbuilder-form input#submit-form:active, .formbuilder-form input#submit-form.active, .open>.dropdown-toggle.btn , #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form, formbuilder-form input#submit-form:hover, .formbuilder-form input#submit-form:focus, .formbuilder-form input#submit-form:active, .formbuilder-form input#submit-form.active, .open>.dropdown-toggle.btn, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:focus, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:active, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form.active, .open>.dropdown-toggle.btn, #contact2f, #contact h3, #contact p, #contact2e, #contact2c, .contact_detail a, .contact_detail a:hover, .contact_detail a:focus {
    text-decoration: none;}
hr {
    color: #ffa500;
    border: 3px solid #ffa500;
}
.btn, .formbuilder-form input#submit-form, .formbuilder-form input#submit-form:hover, .formbuilder-form input#submit-form:focus, .formbuilder-form input#submit-form:active, .formbuilder-form input#submit-form.active, .open>.dropdown-toggle.btn, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form{
    border-radius:25px;
}
.formbuilder-form input#submit-form, .formbuilder-form input#submit-form:hover, .formbuilder-form input#submit-form:focus, .formbuilder-form input#submit-form:active, .formbuilder-form input#submit-form.active, .open>.dropdown-toggle.btn, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form{
    background-color: #222;
    color: #fff;
}
.form, #quote_form_form, #extraFormsContainer .modal-dialog{
    background-color: #ff9d00;
    border-radius:10px;
}
@media (min-width: 711px) {
.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn, .formbuilder-form input#submit-form:hover, .formbuilder-form input#submit-form:focus, .formbuilder-form input#submit-form:active, .formbuilder-form input#submit-form.active, .open>.dropdown-toggle.btn, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:focus, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:active, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form.active, .open>.dropdown-toggle.btn {
    border-radius:25px;
    background-color:#222;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);}
}
/*----------------------------------------------------------------
	Header
----------------------------------------------------------------*/
#header2a:before {
    content: "\f098";
}
#header2a a, #header2b, #header #banner1, #banner h1{
    color:#222;
}
#header2{
    padding-bottom:20px;
}
#header2b {
    font-size: 22px;
    line-height:10px;
}
/*----------------------------------------------------------------
	Banner
----------------------------------------------------------------*/
#banner h1{
    font-weight: 400;
    font-size: 80px;
}
#banner1 h1, #banner1{
    margin: 0;
    text-align: center;
    padding-top: 20px;
}
#banner1{width: 100%;}
.banner_cover {opacity: 0.6;}
/*----------------------------------------------------------------
	Content
----------------------------------------------------------------*/

/*----------------------------------------------------------------
    Services, Content, Gallery
----------------------------------------------------------------*/
#services h3 {
    font-weight: 600;
}
#services {
    border-top: 5px solid #ffa500;
    border-bottom: 5px solid #ffa500;
    padding: 50px 0 30px;}
#service1,#service2,#service3,#service4{
    transition: 0.2s 0.2s ease-out;
    padding: 25px 10px 25px 10px;}
#service1:hover,#service2:hover,#service3:hover,#service4:hover{
    transform: scale(1.1);
    background: rgba(255, 189, 112);
    background: rgba(255, 189, 112, 0.4);}

#content .img-responsive{
    border-radius: 20px;
    border: 10px solid #fff;
    transition: 0.2s 0.2s ease-out;
    box-shadow: 120px 20px 20px rgba(0, 0, 0, 0.17);}
#content .img-responsive:hover {
    border: 10px #ffa500 solid;
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.17);}
/*----------------------------------------------------------------
    Contact
----------------------------------------------------------------*/
#content6,#content5,#content4, #contact2d, #contact2f, #contact2g, #contact1b{
    display: none;}
/*----------------------------------------------------------------
    Footer
----------------------------------------------------------------*/
footer *, footer a , footer {color: #222;}
footer {
    background: url(/uploads/lasertronics/images/images/Banners%20%26%20Backgrounds/background.png);
    border-top: 3px solid #e17926;
    padding: 25px 0 25px;}
/*----------------------------------------------------------------
	Media Queries
----------------------------------------------------------------*/
@media only screen and (min-width: 1200px){
    #content1a,#content2b, #content3a, #content4b, #content5a{width: 55%;}
    #content1b,#content2a, #content3b, #content4a, #content5b{width: 65%;}
    #content img {width:100%;}
}
@media only screen and (min-width: 767px){
.list_half {
    width: 100%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;}
}
@media (max-width: 480px) {
    #service1:hover,#service2:hover,#service3:hover,#service4:hover{transform: scale(1.0);}
    #banner h1 {
        line-height: 40px;
        font-size: 45px;}
    #banner p {font-size: 18px;}
}
@media (max-width:350px){
#banner h1 {font-size: 40px;}
}
@media (max-width:767px) and (min-width: 481px){#banner h1 {font-size: 60px;}}
@media (max-width: 1100px) {.content_block {padding-bottom: 0px;}}
@media (max-width: 767px) {hr {width:80%;}#service3 {clear:left }}

